<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.peojectdemo.mapper.CommentsMapper">

    <select id="findComments" parameterType="Map" resultType="Comments">
         select * from comments where blogId = #{blogId}
         	order by commentTime
         	limit ${(pageCode-1)*pageSize},${pageSize} 
    </select>
    
    <select id="findAllCountComments" parameterType="Map" resultType="int">
         select count(*) from comments
         <!-- <where>
            <if test="foodName!=null and foodName!=''" >
         		and foodName like '%${foodName}%'
         	</if>
         	<if test="foodstyleId!=null and foodstyleId!=''" >
         		and foodstyleId = #{foodstyleId}
         	</if>
         </where> -->
    </select>
    
    <insert id="saveComment" parameterType="Comments">
	<selectKey keyProperty="cId" resultType="string" order="BEFORE">  
	        select replace(uuid(), '-', '') as id from dual
	</selectKey>
	insert into comments(blogId, comments,cId,username,commentTime) 
	 values( #{blogId},#{comments}, #{cId}, #{username}, #{commentTime})
	</insert>
	<delete id="deleteComment" parameterType="Comments">
		delete from comments where cId = #{cId}
	</delete>
</mapper>