<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.peojectdemo.mapper.UserMapper">
	<select id="loginSelect" parameterType="String" resultType="User">
		select * from user where username = #{account} or phonenumber = #{account} or email = #{account}
	</select>
	
	<select id="checkUsername" parameterType="String" resultType="int">
       select count(*) from user where username=#{username}
    </select>
    
	<select id="checkPhonenumber" parameterType="String" resultType="int">
       select count(*) from user where phonenumber=#{phonenumber}
    </select>
    
	<select id="checkEmail" parameterType="String" resultType="int">
       select count(*) from user where email=#{email}
    </select>
    
	<select id="searchUsername" parameterType="String" resultType="String">
       select username from user where uid=#{uid}
    </select>
    
	<insert id="registSave" parameterType="User">
	<selectKey keyProperty="uid" resultType="string" order="BEFORE">  
	        select replace(uuid(), '-', '') as id from dual
	</selectKey>
	insert into user(uid, username,password,email,icon,investmentage,profile,profession,
	residence,privacy,state,code) 
	 values( #{uid}, #{username}, #{password}, #{email}, #{icon}, #{investmentage}, #{profile} 
	 , #{profession}, #{residence}, #{privacy}, #{state}, #{code})
	</insert>
	
</mapper>